<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if flag == 'insert'%}
<h1>Thông tin cuộc hẹn</h1>
{% else %}
<h1>Cập nhật thông tin cuộc hẹn</h1>
{% endif %}

    <form action="" method="post" novalidate>
        <!--{{ form.hidden_tag() }}-->
        <p>
            {{ form.patient_name.label }}<br>
            {{ form.patient_name(size=32) }}
        </p>
        <p>
            {{ form.doctor_name.label }}<br>
            {{ form.doctor_name(size=32) }}
        </p>
        <p>
            {{ form.date_time.label }}<br>
            {{ form.date_time(size=32) }}
        </p>
        <p>
            {{ form.note.label }}<br>
            {{ form.note(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

<script>
$(document).ready(function() {
    $('#doctor_name').select2({
        placeholder: "{{ form.doctor_name.label.text }}",
        allowClear: true,
        "width": "style"
    });
});
</script>
</body>
</html>